{{> header }}
    <h1>{{pageTitle}}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sapiente facere
         repellat, tempora mollitia magnam. Tempora consequuntur voluptas, culpa quo modi non officiis.
          Asperiores at earum similique fugiat nam eos.
    </p>
    {{> footer }}
</body>

</html>
